{% load static%}


<p>There is booking request for {{camp_name}}. Please have a look.<br/>Thank you!</p>

<table cellpadding="10" cellspacing="10">
    <tr style="background:#f1f1f1;"><td>Full Name: </td><td>{{fullname}}</td></tr>
    <tr style="background:#e1e1e1;"><td>Phone Number: </td><td>{{contact_number}}</td></tr>
    <tr style="background:#f1f1f1;"><td>Email: </td><td>{{email}}</td></tr>
    <tr style="background:#e1e1e1;"><td>Selected Package: </td><td>{{package}}</td></tr>
    <tr style="background:#f1f1f1;"><td>Number of People: </td><td>{{people}}</td></tr>
    <tr style="background:#e1e1e1;"><td>Booking Date: </td><td>{{date}}</td></tr>
    <tr style="background:#f1f1f1;"><td>Total Price: </td><td>{{total_price}}</td></tr>
</table>  