
<div class = "camp_gallery">   
    <div class = "container"> 
        <h4 class = "title text-center pb-5"> <span class = "title_span">Gallery</span> </h4>

        <div class = "d-flex justify-content-lg-between justify-content-md-between justify-content-sm-center flex-wrap">

    <a data-fancybox="gallery" data-src="https://lipsum.app/id/2/1024x768" data-caption="" class = "pb-2 m-auto">
      <img src="https://lipsum.app/id/2/200x150" />
    </a>

    <a data-fancybox="gallery" data-src="https://lipsum.app/id/3/1024x768" class = "pb-2 m-auto">
      <img src="https://lipsum.app/id/3/200x150" />
    </a>

    <a data-fancybox="gallery" data-src="https://lipsum.app/id/4/1024x768" class = "pb-2 m-auto">
      <img src="https://lipsum.app/id/4/200x150" />
    </a>

    <a data-fancybox="gallery" data-src="https://lipsum.app/id/2/1024x768" data-caption="" class = "pb-2 m-auto">
        <img src="https://lipsum.app/id/2/200x150" />
    </a>
  
    <a data-fancybox="gallery" data-src="https://lipsum.app/id/3/1024x768" class = "pb-2 m-auto">
        <img src="https://lipsum.app/id/3/200x150" />
    </a>

    <a data-fancybox="gallery" data-src="https://lipsum.app/id/4/1024x768" class = "pb-2 m-auto">
        <img src="https://lipsum.app/id/4/200x150" />
    </a>
</div>
  </div>
  </div>