{% load static %}
{% include 'header.html' %}

<h2 class = "text-center" id = "db_camp_title">{{camp_name}}</h2>

{% comment %} {% include 'book/availability_form.html' %} {% endcomment %}


 <form method="post" id = "available-form">
    {% csrf_token %}
    {{ availability_form.as_p }}
    <button type="submit" name="availability_submit">Check Availability</button>
</form>


{% if status == "available" %}       
    <style>
        #available-form{
            display: none;
        }
    </style>

    <p class="py-3">{{ availability_message }}</p>
    <form method="post">
        {% csrf_token %}
        {{ booking_form.as_p }}
        <button type="submit" name="booking_submit">Book Now</button>
    </form>
{% else %}
    <p class="py-3">{{ availability_message }}</p>
{% endif %}


{% include 'footer.html' %}