{% load static %}
{% include 'header.html' %}

<div class = "form">
    <div class = "container">
<h2 class = "text-center" id = "db_camp_title">{{camp_name}}</h2>

 <form method="post" id = "available-form">
    {% csrf_token %}
    {{ availability_form.as_p }}
    <button type="submit" name="availability_submit">Check Availability</button>
</form>




    {% if status == "Not available" %}   
        
    <p class="py-3 fw-bold">{{ availability_message }}</p>

    {% else %}
        <style>
            #available-form{
                display: none;
            }
        </style>



            <div class = "row">
                <div class = "col-lg-8 col-md-8 col-sm-12">
        <p class="py-3 fw-bold">{{ availability_message }}</p>

        <form method="post" id = "booking-form">
            {% csrf_token %}
            {{ booking_form.as_p }}
            <input type="hidden" id = "hidden_package_amount" name="hidden_package_amount">
            <button type="submit" name="booking_submit">Book Now</button>   
        </form>
        <p class = "fw-bold fst-italic">*Please use the same contact number that will be used for payment in next step. Thank you!</p>

        
    </div>
                <div class = "col-lg-4 col-md-4 col-sm-12">
    <p> Your Total Price will be : <span class = "fw-bold" id = "package_amount"></span></p>
                </div>
            </div>
    </div>



    {% endif %}
</div>
</div>

    <script>
        // Function to calculate and update the total price
        function calculateTotalPrice() {
            var peopleNumber = document.getElementById('id_number_of_people').value;
            var selectPackage = document.getElementById('id_package').value;
            var totalPrice;
    
            // Calculate total price based on the selected package and number of people
            if (selectPackage == "basic") {
                totalPrice = peopleNumber * 800;
            } else if (selectPackage == "medium") {
                totalPrice = peopleNumber * 1200;
            } else if (selectPackage == "deluxe") {
                totalPrice = peopleNumber * 1800;
            }
    
            // Update the total price in the HTML
            document.getElementById('package_amount').textContent = totalPrice;
            document.getElementById('hidden_package_amount').value = totalPrice;

        }
    
        document.getElementById('id_package').addEventListener('change', calculateTotalPrice);
        document.getElementById('id_number_of_people').addEventListener('input', calculateTotalPrice);
        calculateTotalPrice();


    </script>
    


{% include 'footer.html' %}