{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XYZ Camping</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/8371/8371386.png">

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %} ">
    <link rel="stylesheet" href="{% static 'css/header.css' %} ">
    <link rel="stylesheet" href="{% static 'css/index.css' %} ">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="{% static 'js/fancybox.js' %}"></script>

    <script src="https://kit.fontawesome.com/95964a84bf.js" crossorigin="anonymous"></script>
  </head>
  <body>

    {% include 'inc/navbar.html' %}


    