{% load static %}
{% include 'header.html' %}



<form id="availability-form" method="post"  >
    {% csrf_token %}
    {{ availability_form.as_p }}
    <button type="submit">Check Availability</button>
</form>

{{status}}

{% if status == "available" %}       
    <p class="py-3">{{ availability_message }}</p>

    <form method="post">
        {% csrf_token %}
        {{ booking_form.as_p }}
        <button type="submit">Book Now</button>
    </form>

{% else %}

    <p class="py-3">{{ availability_message }}</p>

{% endif %}






{% include 'footer.html' %}